:root {
  --text-color: #fff;
  --border-color-main: #eee;
  --border-color-secondary: #0267bf;
  --dark-grey: #111;
  --medium-dark-grey: #222;
  --light-dark-grey: #333;
  --btn-bg: #108ffd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: none;
}

:disabled {
  opacity: 0.8;
  cursor: default;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

body > header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: var(--dark-grey);
}

h2 {
  height: 5vh;
}

video {
  height: 300px;
  border-radius: 1rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  background: var(--btn-bg);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button:hover,
button:focus {
  filter: brightness(80%);
}

#flex {
  height: 90vh;
  display: flex;
  overflow: hidden;
}

#video-container {
  flex: 0.7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: var(--medium-dark-grey);
  height: 100%;
}

#videos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

#videos video:nth-child(2) {
  margin-left: 10px;
}

#options {
  width: 100%;
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  flex: 1;
  height: 15vh;
  padding: 0 10px;
}

#options button:nth-child(2) {
  margin-left: 10px;
}

#options button:last-child {
  display: flex;
  margin-left: auto;
}

#message-container {
  flex: 0.3;
  background: var(--light-dark-grey);
  height: 100%;
}

#message-container h2 {
  padding: 0 10px;
}

#messages {
  height: 75vh;
  width: 100%;
}

#message-control {
  flex: 1;
  height: 10vh;
  padding: 10px;
  display: flex;
}

input {
  font-family: inherit;
  display: inline-block;
  width: 100%;
  border: 2px solid var(--border-color-main);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

input:hover,
input:focus {
  border-color: var(--border-color-secondary);
}
